body {
  width: 100%;
  height: 100%;
  font: 18px sans-serif;
}

div#bar_chart_title {
  left: 325px;
  top: 520px;
  position: absolute;
  display: none;
}

div#tooltip {
  position: absolute;
  text-align: center;
  width: 90px;
  height: 68px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border-radius: 8px;
  pointer-events: none;
  display: none;
}

div#venn {
  left: 860px;
  top: 50px;
  position: absolute;
  padding: 2%;
  max-height: 360px;
  max-width: 720px;
}

.venntooltip {
  position: absolute;
  text-align: center;
  width: 90px;
  height: 18px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border-radius: 8px;
  pointer-events: none;
}

.axis {
  font: 14px sans-serif;
}

/* The side navigation menu */
/* #mySidenav {
  background-color: blanchedalmond;
  height: 100px;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  font-size: large;
} */

/* #sentences {
  margin-left: -15px;
  margin-top: -500px;
} */
